.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    margin-top: 20px;

    &__buttons {
        width: 16%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__formData {
        margin-top: 30px;
        width: 70%;
    }
}